---
import "../styles/global.css";
import pb from "../utils/pb";
import { ui } from "../i18n/ui.js";
const locale = Astro.locals.lang as 'en' | 'fr' ?? 'en';

const user = pb.authStore.model;

let avatarUrl = null;
if (user && user.avatar) {
    avatarUrl = pb.files.getUrl(user, user.avatar);
}
---

<!doctype html>
<html lang="en" data-theme="light" class="h-full">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Astro Basics</title>
    </head>

    <body class="h-full">
        <div class="flex items-center gap-4">
            <form method="POST" action="/api/logout" class="m-0 p-0 ml-4">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>

            <a href="/signup" class="btn btn-secondary">S'inscrire</a>

            <form method="POST" action={Astro.url.pathname}>
                <select
                    name="language"
                    class="select"
                    onchange="this.form.submit()">

                    <option disabled selected="true">{ui[locale].nav.language}</option>
                    <option value="en">English</option>
                    <option value="fr">Français</option>
                </select>
            </form>

            {
                avatarUrl && (
                    <div class="avatar">
                        <div class="w-24 rounded">
                            <img src={avatarUrl} alt="Avatar" />
                        </div>
                    </div>
                )
            }
        </div>

        <div class="h-full flex flex-col min-h-0">
            <div class="flex-1 min-h-0">
                <slot />
            </div>
        </div>
    </body>
</html>
